<div class="container">
<h2 class="center">Log In To See Books and Write Reviews!</h2>

<h5>If you don't already have an account, please <%= link_to "Sign Up", signup_path %></h5>
<h5>If you have a Google account, you can login using the button above.</h5>

<h4>Login Credentials:</h4>
<%= form_with(url: '/login', local: true) do |f| %>
    <%= f.label :email %><br>
    <%= f.email_field :email %><br><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br><br>

    <%= f.submit "Log In", class:"btn indigo darken-4"%>
<% end %>

</div>