<h2 class="center">Sign Up to Join Our Library!</h2>
<h4 class="center">If you already have an account, please <%= link_to "log in", login_path %>.</h4>

<%= render partial: 'shared/error_display', locals: { object: @user }%>

<div class="container">
<%= form_for(@user, url: "/signup") do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br><br>
    <%= f.label :email %><br>
    <%= f.email_field :email %><br><br>
    <%= f.label :password%>:<br>
    <%= f.password_field :password%><br><br>
    <%= f.submit class:"btn indigo darken-4"%>
<% end %>
</div>