<h1><%= @user.username %></h1>
<% if admin? %>
    <%= link_to "All Reviews", "/admin/reviews" %><br>
<% else %>
    <h2>Checked-Out Books</h2>
    <h2>My Book Reviews</h2>
    <% @reviews.each do |review| %>
        <div>
        <%# create method to show username and reviewed_book_title %>
            <h3><%= reviewer_username(review) %>'s Review of '<%= link_to reviewed_book_title(review), book_path(review.reviewed_book.id) %>'</h3>
            <%= render partial: 'reviews/review_display', locals: { review: review }%>
        </div>
    <% end%>
<% end %>

<%# Remember to move this to navbar %>
<%= link_to "Log Out", '/logout', method: "delete" %>