<%= render partial: '/shared/error_display', locals: { object: book } %>

<ul>
<%= form_for book do |f| %>
    <li><%= f.label :title %>:<br>
        <%= f.text_field :title %></li>
    <li>Author(s)<br>
        <%= f.text_field :authors %>
        </li>
    <li><%= f.label :description %><br>
        <%= f.text_area :description %></li>
    <li><%= f.label :publisher %><br>
        <%= f.text_field :publisher %></li>
    <li><%= f.label :publication_date %><br>
        <%= f.text_field :publication_date %></li>
    <li><%= f.label :categories %><br>
        <%= f.text_field :categories %></li>
    </li>
    <li>ISBN (number only)<br>
        <%= f.text_field :isbn %></li>

    <%= f.submit class:"btn indigo darken-4"%>
<% end %>
</ul>