<%= render partial: '/shared/error_display', locals: { object: book } %>

<ul>
<%= form_for book do |f| %>
    <li><%= f.label :title %>
        <%= f.text_field :title %></li>
    <li><%= f.label :authors %>
        <%= f.text_field :authors %>
        </li>
    <li><%= f.label :description %>
        <%= f.text_area :description %></li>
    <li><%= f.label :publisher %>
        <%= f.text_field :publisher %></li>
    <li><%= f.label :publication_date %>
        <%= f.text_field :publication_date %></li>
    <li><%= f.label :categories %>
        <%= f.text_field :categories %></li>
    <li><%= f.label :isbn %><span> (numbers only)</span>
        <%= f.text_field :isbn %></li>
        <br>
    <li><%= f.submit class:"btn indigo darken-4"%></li>
    
<% end %>
</ul>