<%= book_index_title_display %>
<h4>Click on any title to see more information, check out the book, or write a review.</h4>

<h3>Order and Filter Results:</h3>
<%= form_tag books_path, method: :get do %>
    <strong>Filter:</strong><br>
        Reviewed <%= check_box_tag :has_reviews %><br>
    <strong>Order:</strong><br> 
        by Most Recently Added <%= check_box_tag :most_recently_added %><br>
        by Highest Rated <%= check_box_tag :highest_rated %><br>
    <%= submit_tag "Filter" %>
<% end %>
<ul>
    <% if admin? %>
        <div><h2><%= link_to "Add a New Book", new_book_path %></h2></div>
    <% end %>
    
<% @books.each do |book| %>
    <div><h2><%= link_to book.title, book_path(book.id) %></h2>
        Author(s): <%= book.display_authors %><br>
        Description: <%= book.display_description %></div>
<% end %>  
</ul>