<br>
<div class="center">
    <%= book_index_title_display %>
    <h5>Click on any title to see more information,<br> check out the book,<br> or write a review.</h5>
</div>
    <br>
<div class="container cyan-text text-darken-2">
    <h5 class= "center">Order and Filter Results:</h5>
    <div class="container">
        <%= form_tag books_path, method: :get do %>
            <h6>Search:</h6><br>
            <div class="container">
                by Author: <%= text_field_tag :search_author_name %><br>
                by Title: <%= text_field_tag :search_title %><br>
                by Description: <%= text_field_tag :search_description %><br>
            </div>
            <h6>Order:</h6>
            <div class="container">
                <%= radio_button_tag :ordering_filter, :most_recently_added %>
                    <label for="ordering_filter_most_recently_added" class="cyan-text text-darken-2">by Most Recently Added</label><br>
                <%= radio_button_tag :ordering_filter, :most_recently_published %>
                    <label for="ordering_filter_most_recently_published" class="cyan-text text-darken-2">by Most Recently Published</label><br>  
                <%= radio_button_tag :ordering_filter, :ordered_by_aggregate_ratings %>
                    <label for="ordering_filter_ordered_by_aggregate_ratings" class="cyan-text text-darken-2">by Highest Rated</label><br>
            </div>
            <br>
            <%= submit_tag "Filter", class:"btn cyan darken-3" %>
        <% end %>
    </div>
    <br>

    <% if admin? %>
        <div><h2><%= link_to "Add a New Book", new_book_path %></h2></div>
    <% end %>
</div>

<% @books.each do |book| %>
    <div class="container">
        <h5><%= link_to book.title, book_path(book.id) %></h5>
    
        <%= render partial: 'author_description_display', locals: { book: book } %>
    </div>
<% end %>  
