<h1>Add a New Book to the Library</h1>
<%= render partial: 'form', locals: { book: @book } %>
<h4>Or Search for a New Book from Google Books</h4>
<ul>
<%= form_tag new_book_path, method: :get do %>
    <li>Author <br><%= text_field_tag '[search]author' %></li>
    <li>Title <br><%= text_field_tag '[search]title' %></li>
    <li>Category <br><%= text_field_tag '[search]category' %></li>
    <li>ISBN (number only) <br><%= text_field_tag '[search]isbn' %></li>
    <%= submit_tag "Search" %>
<% end %>
<ul>