<h1>Add a New Book to the Library</h1>

<h3>Search Results.<br> Please select a book you would like to add to the library</h3>
    <% @google_books_instances.each do |book| %>
    <%= binding.pry %>
    <%# only holding on to 1st instance in iteration %>
        Author(s): <%= book.display_authors %><br>
        Description: <%= book.display_description %></div>
        <%= form_tag books_path do %>
            <%= check_box_tag "Add to Library" %>
        <% end %>
    <% end %>
<% end if @google_books_instances %>

<h4>Search for a New Book from Google Books</h4>
<ul>
<%= form_tag new_book_path, method: :get do %>
    <li>Author <br><%= text_field_tag '[search]author' %></li>
    <li>Title <br><%= text_field_tag '[search]title' %></li>
    <li>Category <br><%= text_field_tag '[search]category' %></li>
    <li>ISBN (number only) <br><%= text_field_tag '[search]isbn' %></li>
    <%= submit_tag "Search" %>
<% end %>
</ul>
<h4>Or Manually Add a New Book<h4>
<%= render partial: 'form', locals: { book: @book } %>


