<h1><%= @book.title %></h1>
<h2><%= display_aggregate_book_rating(@book) %></h2>
<h3>Author(s):</h3>
    <%= @book.display_authors %>
<h3>Description:</h3>
    <%= @book.display_description %>
<h3>Publisher:</h3>
    <%= @book.publisher %>
<h3>Publication Date:</h3>
    <%= @book.publication_date %>
<h3>Categories:</h3>
    <%= @book.categories %><br><br>

<% if admin? %>
    <%= link_to "Edit this Book", edit_book_path(@book.id) %><br>
    <%= link_to "Remove this Book from the Library", book_path(@book.id), method: "delete" %><br>
<% else  %>
<%# logic  for checked out and available for checkout %>
    <%= button_to "Check this book out of the library", book_checkouts_path(@book.id) %>
    <%= link_to "Review this Book", new_book_review_path(@book.id) unless user_reviewed_book_already?(@book) %><br>
<% end %>

<%= link_to "See Reviews", book_reviews_path(@book.id) %><br>

<%= link_to "Back to All Available Books", books_path %><br>