
<ul>
    <%= f.hidden_field :reviewed_book_id %>
    <li><%= f.label :title %>
    <%= f.text_field :title %></li>
    <li><%= f.label :content %>
    <%= f.text_area :content %></li>
    <li><%= f.label :rating %> (1–10)
    <%= f.number_field :rating, in: 1..10 %></li>
    <li><%= f.label :recommend %>
    <%= f.check_box :recommend %></li>
    <li><%= f.label :kid_friendly %>
        <%= f.check_box :kid_friendly %></li>
    <li><%= f.submit class:"btn indigo darken-4" %></li>
    <br>
</ul>
