<h1><%= reviews_title %></h1>
<h2><%= display_aggregate_book_rating(@book) %></h2>
<% @reviews.each do |review| %>
    <div>
        <%# create method to show username %>
        <h3><%= review.reviewer.username %>'s Review</h3>
        <%= render partial: 'review_display', locals: { review: review }%>
    </div><br>
<% end %>

<% if !user_reviewed_book_already?(@book) && !admin? %>
<%= link_to "Review this Book", new_book_review_path(@book.id)  %><br>
<% end %>
<%# back_to_book_if_book method? %>
<%= link_to "Back to Book", book_path(@book.id) if @book %>