<%# Make a method for the title %>
<h1><%= current_user.username + "\'s Review of " + @book.title %></h1>
<% if @review.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %>.</li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @review, url: book_reviews_path do |f| %>
    <%= f.hidden_field :reviewed_book_id %>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>
    <%= f.label :content %><br>
    <%= f.text_area :content %><br>
    <%= f.label :rating %> (1–10)<br>
    <%= f.number_field :rating, in: 1..10 %><br>
    <%= f.label :recommend %>?
    <%= f.check_box :recommend %><br>
    <%= f.label :kid_friendly %>?
    <%= f.check_box :kid_friendly %><br>
    <%= f.submit %>
<% end %>
