<%= review_title %>
<h4><%= @review.title %></h4>
<p><%= @review.content %></p>
<p>Rating <%= @review.rating %> / 10.0</p>
<p>Recommended? <%= display_boolean_yes_no(@review.recommend) %></p>
<p>Kid Friendly? <%= display_boolean_yes_no(@review.kid_friendly) %></p>

<%= link_to "Edit this Review", edit_review_path(@review.id) if @review.reviewer == current_user %>
<%= link_to "Delete this Book Review", review_path(@review.id), method: "delete" if authorized_to_destroy?(@review) %>
<%# Link to All Reviews of this book %>
<%# link to all my reviews? %>