<%= review_show_page_title %>
<h4><%= @review.title %></h4>
<%= render partial: 'review_display', locals: { review: @review } %>
    <br>
<%= link_to "Edit this Review", edit_review_path(@review.id) if authorized_to_edit_review?(@review) %><br>

<%= form_tag("/reviews/#{@review.id}", method: "delete") do %>
    <%= submit_tag "Delete this Review" %>
<% end if authorized_to_destroy_review?(@review) %>

<%= link_to "See All Reviews of This Book", book_reviews_path(@book.id) %>