<!DOCTYPE html>
<html>
  <head>
    <title>BooksAndBanter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:message] %>
    <div class="field_with_errors"><%= flash[:message] %></div>
  <% end %>
  <% if logged_in? %>
    <%= link_to "Our Library's Books", books_path %><br>
    <%= link_to "My Account Page", user_path(current_user) %><br>
    <%= link_to "Log Out", '/logout', method: 'delete' %>
  <% end %>

    <%= yield %>
  </body>
</html>
